@import url("https://fonts.googleapis.com/css?family=Lato");


.titulli{
    width: 5%;
    margin-left: 4%;
    
}
.titulli>img{
    background-color: white;
    width: 100%;
    border-radius: 100%;
}


/* Qitu ja nis navi */
*{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
body{
    background-image: url("foto/backgorund.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main {
    padding-top: 60px;
  }
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;  
    border-bottom: 2px white solid;
    margin-top: 10px;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;

    width: 50%;
   
}
ul li {
    width: 50%;
    height: 50%;

    text-decoration: none;
    text-align: center;

}
ul li a {
    text-decoration: none;

    
}

.nav-bar h1{
    margin-left: 10px;
    margin-right: 10px;
}


ul {
  display: flex;
  flex-direction: row;
  align-items: right;
  list-style-type: none;
  justify-content: right;
}
ul h1{
    margin-left: 10px;
    margin-right: 10px;
}
ul li {
  padding: 6px 0;
}
ul li a {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 550px;
    width: 100%;
    border-bottom:2px white solid ;
    color: white;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    border-bottom: solid white 2px;
}
.text-field {
    margin-top: 6px;
    margin-bottom: 16px;
    width: 50%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #b6b6b6;
    margin-left: 25%;
}
#subject{
    height: 100px;
}
#submit {
    display: flex;
    justify-content: center;
    width: 20%;
    left: 40%;
    margin: auto auto;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#submit:hover {
    background-color: #349dbdbe;
}
  
form > label{
    display: flex;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-left: 25%;
}
.footer h1{
    display: flex;
    justify-content: center;
    color: white;
}
.footer{
    background-color: #95a5a65d;
    height: 310px;
    
}