@import url("https://fonts.googleapis.com/css?family=Lato");


.titulli{
    width: 5%;
    margin-left: 4%;
    
}
.titulli>img{
    background-color: white;
    width: 100%;
    border-radius: 100%;
}


/* Qitu ja nis navi */
*{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
body{
    background-image: url("backgorund.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main {
    padding-top: 60px;
  }
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;  
    border-bottom: 2px white solid;
    margin-top: 10px;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;

    width: 50%;
   
}
ul li {
    width: 50%;
    height: 50%;

    text-decoration: none;
    text-align: center;

}
ul li a {
    text-decoration: none;

    
}

.nav-bar h1{
    margin-left: 10px;
    margin-right: 10px;
}


ul {
  display: flex;
  flex-direction: row;
  align-items: right;
  list-style-type: none;
  justify-content: right;
}
ul h1{
    margin-left: 10px;
    margin-right: 10px;
}
ul li {
  padding: 6px 0;
}
ul li a {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.container {
    width: 40%;
    left: 30%;
    min-height: 270px;
    height: auto;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(141, 130, 130, 0.781);
    margin-top: 125px;
    margin-bottom: 125px;
    font-family:Lato, sans-serif ;
	border: 1px white solid;
	border-bottom: 2px white solid;
    
  }
  
  .hidden {
    display: none;
  }
  
  .link-container {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
  }
  
  .link-container a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    transition: all 0.2s ease;
    border-bottom: 1px solid grey;
  }
  
  .link-container a:first-child {
    border-right: 2px solid grey;
  }
  
  .link-container>a:hover {
    background-color: #000000;
    transition: all 0.2s ease;
    border-radius: 10px ;
  }
  
  .form-style {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
  
  .form-style label {
    margin-top: 20px;
    font-size: 20px;
    color: black;
  }
  
  .form-style .input {
    margin-top: 10px;
    width: 60%;
    position: relative;
    left: 20%;
    border: 0px;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #b6b6b6;
  }
  
  .forms {
    height: auto;
  }
  
  #submit {
    width: 20%;
    left: 40%;
    background-color: #aca8a8b0;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
  }
  #submit:hover{
    background-color: #89a0a7be;
  }
.shkronjat{
	border-top: 1px white solid;
}
.input{
	border-bottom: 1px white solid;

}
  .footer h1{
    display: flex;
    justify-content: center;
    color: white;
}
.footer{
    background-color: #95a5a65d;
	height: 335px;
	border-top: 2px white solid;
    
}