@import url("https://fonts.googleapis.com/css?family=Lato");


.titulli{
    width: 5%;
    margin-left: 4%;

}
.titulli>img{
    background-color: white;
    width: 100%;
    border-radius: 100%;
}


/* Qitu ja nis navi */
*{
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
body{
    background-image: url("foto/backgorund.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main {
    padding-top: 60px;
  }
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;  
    border-bottom: 2px white solid;
    margin-top: 10px;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;

    width: 50%;

}
ul li {
    width: 50%;
    height: 50%;

    text-decoration: none;
    text-align: center;

}
ul li a {
    text-decoration: none;


}

.nav-bar h1{
    margin-left: 10px;
    margin-right: 10px;
}


ul {
  display: flex;
  flex-direction: row;
  align-items: right;
  list-style-type: none;
  justify-content: right;
}
ul h1{
    margin-left: 10px;
    margin-right: 10px;
}
ul li {
  padding: 6px 0;
}
ul li a {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* Qitu kryhet navi */
.main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 300px;
    width: 100%;
    border-bottom:2px white solid ;
}
.majt{
    width: 50%; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foto{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left:10%;

}
.foto>img{
    display: flex;
    width: 30%;
    border-radius:100px;
    height: 100px;
    
}

/*divi i djatht*/


.djatht{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}
.tekstiImadh{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tekstiImadh h2{
    font-size: 25px;
}
.tekstiIvogel{
    margin-top: 5%;
    display: flex;
}
.tekstiIvogel p{
    text-align: center;
    font-size: large;
}
.main1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 300px;
    width: 100%;
    border-bottom:2px white solid ;
}
.majt1{
    width: 50%; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foto1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:10%;

}
.foto1>img{
    width: 40%;
    border-radius:50x;
    height: 90%;
}

/*divi i djatht*/


.djatht1{
    width: 50%;
    display: flex;
    flex-direction: column;

    color: white;
}
.tekstiImadh1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tekstiImadh1 h2{
    font-size: 25px;
}
.tekstiIvogel1{
    margin-top: 5%;
    display: flex;
}
.tekstiIvogel1 p{
    text-align: center;
    font-size: large;
}
#mainForm>label{
    border-bottom: 1px white solid;
}
.footer h1{
    display: flex;
    justify-content: center;
    color: white;
}
.footer{
    background-color: #95a5a65d;
    height: 3000px;

}