   
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto' ;
}
li {
    border: 15px;
    display: inline;
    float: right;
    font-size: 25px;
    margin: 0 0;
}
.main{
    color: white;
}
.footer{
    position: absolute;
    bottom: 0; 
    width: auto;
    height: 25px;
    align: center;
    flex: center;
}
.nav-bar{
    overflow: hidden;
    background-color: lightblue;
    position: sticky;
    position: -webkit-sticky;

}
.nav-bar a{
    float: left;
    display: block;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    color: white;

}
.nav-bar a:hover{
    background-color: ghostwhite;

}
.emri{
    display: block;
}
.main{
    padding: 3px;
    margin: 5px;
}
#img :hover{
    size: 500px 500px;
}